body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #034d03;
}

/*
    HEADER SECTION
*/

.header-section {
    background-color: #000000;
    padding: 1px;
    padding-left: 20px;
}
.header-section h1 {
    color: #ffffff;
}
/*
        MAIN SECTION
*/

.main-section {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*
    LOGO SECTION
*/
.logo-section {
    padding: 50px;
    margin: 50px;
}
.logo-section h1{
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
}
.pine {
    color: #00cf0a;
}
.icon {
    transition: 0.15s;
}
.icon #G{
    margin-left: 10px;
    margin-right: 10px;
}
/*
    LOGIN SECTION
*/
.login-section h1 {
    font-size: 40px;
}
.login-section {
    padding: 50px;
    background-color: white;
    margin: 50px;
    text-align: center;
}
.login-section #email, #password {
    background-color: #000000;
    color: white;
    padding: 15px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
}
#login {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    transition: 0.15s;
}
#login:hover {
    background-color: white;
    color: black;
}
#login:active {
    background-color: grey;
    transition: 0.15s;
}

#register:active {
    transition: 0.15s;
    opacity: 0.4;
}

#or {
    font-weight: bold;
    font-size: 10px;
}

.first-section a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.first-section a:hover {
    opacity: 0.6;
}
/*
    MQ SECTION
*/

@media (min-height: 1250px) {
    .main-section {
        text-align: center;
    }
    .logo-section {
        margin: 0px;
        padding: 0px;
    }
    .header-section {
        font-size: 14px;
    }
}