body {
    margin: 0px;
    background-color: #8cf58c;
    font-family: didact;
}

.header-section {
    background-color: #29b929;
    padding: 1px;
    color: white;
}
.header-section h1 {
    margin-left: 20px;
    font-size: 40px;
    transition: 0.15s;
}
.header-section h1:hover {
    color: #000000;
}

/*
        MAIN SECTION
*/

.main-section {
    font-family: didact;
    display: flex;
    gap: 2rem;
}
.main-section > * {
    flex-basis: 50%;
}
/*
    LOGO SECTION
*/
.logo-section {
    background-color: white;
    text-align: center;
    padding: 50px;
}
.logo-section img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.logo-section h1{
    color: #287947;
    font-size: 60px;
}
.pine {
    color: #29b929;
}
/*
    LOGIN SECTION
*/
.login-section {
    text-align: center;
    background-color: white;
    padding: 50px;
}
.login-section h1 {
    color: #29b929;
    font-size: 50px;
}
.login-section #email {
    font-family: didact;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding-left: 15px;
    font-weight: bold;
    border-radius: 50px;
}
.login-section #password {
    font-family: didact;
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding-left: 15px;
    font-weight: bold;
    border-radius: 50px;
}
.login-section #login {
    font-family: didact;
    height: 50px;
    width: 30%;
    font-weight: bold;
    border-radius: 50px;
    background-color: #8cf58c;
    border: none;
    box-shadow: 2px 4px 10px rgb(73, 73, 73);
    cursor: pointer;
    transition: 0.15s;

}
#login:hover {
    background-color: #29b929;
    color: white;
}

.first-section a {
    color: #29b929;
    font-weight: bold;
    cursor: pointer;
}