body {
    margin: 0px;
    background-color: #8cf58c;
    font-family: didact;
}

.header-section {
    background-color: #29b929;
    padding: 1px;
    color: white;
}
.header-section h1 {
    margin-left: 20px;
    font-size: 40px;
    transition: 0.15s;
}
.header-section h1:hover {
    color: #000000;
}

/*
        MAIN SECTION
*/

.main-section {
    font-family: didact;
    padding: 50px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    
}
.main-section > * {
    flex-basis: 50%;
}
.logo-section {
    background-color: white;
    padding: 20px;
}

.logo-section img{
    height: 250px;
    width: 250px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin: 20px;
}
.logo-section h1 {
    font-size: 50px;
    color: #29b929;
}
.pine {
    color: #287943;
}
.login-section {
    background-color: white;
    padding: 20px;
    text-align: center;
}
.login-section h1 {
    color: #29b929;
}
.first-section #email{
    background-color: #ffffff;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.first-section #password {
    background-color: #ffffff;
    color: white;
    font-weight: bold;
    padding: 10px;
}
#email,#password {
    border-radius: 50px;
}
.first-section #login {
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    width: 100px;
    background-color: #287943;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0,15s;
}
#login:hover {
    color: #287943;
    background-color: #41fd80;
    transition: 0.15s;
}
